/javahelp_nbproject/build/
/javahelp_nbproject/dist/
/javahelp_nbproject/lib/
/JSearchIndexer_nbproject/dist/
/JSearchIndexer_nbproject/build/
/JSearchClient_nbproject/dist/
/JSearchClient_nbproject/build/
/javahelp_nbproject/dist/lib/